{% extends "auctions/layout.html" %}

{% block title %} AUCTIONS | {{listings.title}}{% endblock %}
{% block bg %}
<style>
  body {
    background-color: #ead9d1;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
  }
</style>
{% endblock %}

{% block body %}

<!-- Notifications -->
{% if message_wl %}
<div id="alert">
  <div class="alert_content">
    <h6>{{message_wl}} {{listings.title}} add to Watchlist</h6>
    <span id="closebtn">&times;</span>
  </div>
</div>
{% elif message_exist_wl %}
<div id="alert">
  <div class="alert_content">
    <h6>{{message_exist_wl}} Item already in your Watchlist</h6>
    <span id="closebtn">&times;</span>
  </div>
</div>
{% elif message_b %}
<div id="alert">
  <div class="alert_content">
    <h6>{{message_b}}</h6>
    <span id="closebtn">&times;</span>
  </div>
</div>
{% elif message_winner %}
{% for i in bid %}
{% for bids in i %}
<div id="alert">
  <div class="alert_content">
    <h6>{{message_winner}} {{bids.user|title}} with highest bid amount of ${{listings.current_bid}} </h6>
    <span id="closebtn">&times;</span>
  </div>
</div>
{% endfor %}
{% endfor %}
{% elif message_c %}
<div id="alert">
  <div class="alert_content">
    <h6>{{message_c}}</h6>
    <span id="closebtn">&times;</span>
  </div>
</div>
{% endif %}

<!-- Content -->
<div class="container my-5">
  <div class="row">
    <!-- Left side card -->
    <div class="card_a col-md-12 col-lg-6">
      {% for i in bid %}
        {% for bids in i %}
          {% if message_winner %}
          <div id="winnerText">
            <p>{{bids.time_bade}}</p>
            <h2>SOLD!</h2>
            <h5>Winner:{{bids.user|title}}</h5>
            <h5>Bid Amount:${{listings.current_bid}}</h5>
          </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
      <img class="listing_detail_img" src="{{listings.image_url}}" alt="{{listings.title}}">
    </div>
  
    <!-- Right side card -->
    <div class="card_b col-md-12 col-lg-6">
      <!-- Ttile -->
      <div class="listings_title"> 
        <h3>{{listings.title}}</h3>
      </div>
      <!-- Watchlist button -->
      <a href="{% url 'add_watchlist' listings.id %}"> 
        <button type="button" class="btn watchBtn">Add to Watchlist</button>
      </a>
      <hr/>
      <!-- Details -->
      <div class="currentDetails">
        <p>Publisher: {{listings.user|title}}</p>
        <p>Published on: {{listings.time_created}}</p>
        <p class="mb-2">Categories: {{listings.category}}</p>
        <div>Starting bid: <strong>${{listings.starting_bid}}</strong></div>
        <div> Current bid: <strong>${{listings.current_bid}}</strong></div>
      </div>
      <div class="form-group w-50">
        <form action="{% url 'bid' listings.id %}" method="POST">
          {% csrf_token %}
          <div class="input-group my-2 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control" name="bid" min="1">
          </div>
          <input class="button btn" type="submit" value="Place Bid">
        </div>
      </form>
    </div>
    <!-- Item descriptions -->
    <div class="row ml-2">
      <div class="descriptions col-lg-12 mt-4">
        <h5>Item descriptions</h5>
        <span>{{listings.title|title}}</span>
        <p class="pr-2">{{listings.descriptions}}</p>
      </div>
    </div>
    <!-- Comments -->
    <div class="comment col-lg-12">
      <h5 class="ml-2">Comments</h5>
      <hr/>
      {% for comment in comments %}
      <p class="ml-2"><strong>{{comment.user|title}}</strong></p>
      <p class="ml-2">{{comment.comment}}</p>
      <p class="ml-2"> {{comment.time_commented }}</p>
      <hr/>
      {% endfor %}
      {% if user.is_authenticated %}
      <form action="{% url 'comment' listings.id %}" method="POST">
      {% csrf_token %}
        <div class="form-group">
          <label class="ml-2"><b>Write a comment:</b></label>
          <textarea class="form-control" rows="5" name="comment" placeholder="Add a comment here..." required></textarea>
        </div>
        <div> 
          <input class="button btn mb-5" type="submit" value=" Add Comment"></div>
      </form>
      {% else %}
      <!-- Login required -->
      <div class="my-5 mt-5">
      <div class="required my-3"> <a href="{% url 'register' %}">Register  </a>to add comments.</div>
      <div class="required ">Already have an account? <a href="{% url 'login' %}">Log In here.</a></div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}