{% extends "auctions/layout.html" %}

{% block title %} AUCTIONS | Categories ELECTRONIC{% endblock %}

{% block body %}
<div id="myMxWidth" class="container">
  <!-- header -->
  <div class="head">
    <h2 class="text">ELECTRONIC</h2>
  </div>
  <!-- listing wrap -->
  <div class="row">
    {% for listing in listings %}
    <!-- listing -->
    <div class="col-6 col-sm-4 col-md-3 col-lg-3">
      <div class="listings">
        <!-- listing image-->
        <img class="listing_img" src="{{listing.image_url}}" alt="{{listing.id}}">
        <!-- listing details-->
        <a href= "{% url 'active_listings' listing.pk %}">
          <div class= "listings_text">{{listing.title}}</div>
          <div class= "listings_text">Current bid ${{listing.current_bid}}</div>
        </a>   
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}