{% extends "auctions/layout.html" %}

{% block title %} AUCTIONS| HOME{% endblock %}

{% block body %}
<div id="container">
    <div class="head"> <h2 class="text">LATEST LISTINGS</h2> </div>
    
    <div class="listings_contaniner">
        {% for listing in listings %}
        <div class="listings">
            <img class="listing_img" src="{{listing.image_url}}" alt="{{listing.id}}">
            <a href= "{% url 'active_listings' listing.pk %}">
                <div class= "listings_text">{{listing.title}}</div>
                <div class= "listings_text"> Current bid ${{listing.current_bid}}</div>
            <a>
        </div>
        {% endfor %}
    </div>

</div>


{% endblock %}
